Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
str="srijan"
l=[1,2,3,4,5]
f=2.345
t=("srijan","agrawal")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [6]:
var1 = ' '
type(var1)

str

In [8]:
 var2 = '[ DS , ML , Python]'
type(var2)

str

In [10]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [11]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) / -->Division Operator
(ii) % -->Modulou Operator
(iii) // -->Floor Value Operator
(iv) ** -->Exponential/Power Operator

In [12]:
5/2

2.5

In [13]:
5%2

1

In [14]:
5//2

2

In [15]:
5**2

25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [18]:
l=[1,2,2.3,3.4,"srijan","agrawal",3+4j,5+6j,'a',4j]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
2.3
<class 'float'>
3.4
<class 'float'>
srijan
<class 'str'>
agrawal
<class 'str'>
(3+4j)
<class 'complex'>
(5+6j)
<class 'complex'>
a
<class 'str'>
4j
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
a=int(input())
b=int(input())
c=0
if a%b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")

 6
 7

not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
l=list(range(25))

In [3]:
for i in l:
    if i%3==0:
        print(i)
        print("Divisible by 3")
    else:
        print(i)
        print("Not Divisible by 3")

0
Divisible by 3
1
Not Divisible by 3
2
Not Divisible by 3
3
Divisible by 3
4
Not Divisible by 3
5
Not Divisible by 3
6
Divisible by 3
7
Not Divisible by 3
8
Not Divisible by 3
9
Divisible by 3
10
Not Divisible by 3
11
Not Divisible by 3
12
Divisible by 3
13
Not Divisible by 3
14
Not Divisible by 3
15
Divisible by 3
16
Not Divisible by 3
17
Not Divisible by 3
18
Divisible by 3
19
Not Divisible by 3
20
Not Divisible by 3
21
Divisible by 3
22
Not Divisible by 3
23
Not Divisible by 3
24
Divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data type-> We  can modify the objects.
ex:list
Imuntable  data type:We can't modfify the objects.
ex:string

In [13]:
l=[1,2,3]
l[1]=4
l

[1, 4, 3]

In [14]:
str="srijan"
str[0]='a'
str

TypeError: 'str' object does not support item assignment